body {
  background-color: rgb(19, 21, 42);
}

input {
  border-radius: 5px;
  width: 350px;
  height: 25px;
  margin-top: 4px;
  font-weight: bold;
  font-size:large;
  padding: 3px;
  padding-left: 7px;
}

h2 {
  color:white;
  font-family: sans-serif;
  font-weight: bold;
}

label {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

td {
  color: white;
  font-size:xx-large;
  font-family: sans-serif;
  font-weight: bold;
}

th {
  color: white;
  font-size:large ;
  font-family: sans-serif;
  font-weight: bold;
}

.add-body-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.add-button {
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color:  rgb(170, 51, 181);;
  height: 30px;
  width: 100px;
  font-weight: bold;  
}

.back-button {
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color:  rgb(80, 80, 80);;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-left: 10px;  
}

.back-button-add {
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color:  rgb(80, 80, 80);;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-right: -10px;
}

.header-home-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 462px;
  justify-content:space-between;
}

.header-add-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 235px;
  justify-content:space-between;
  margin-left: -235px;
}

.logo {
  width: 220px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pencil {
  width: 30px;
  margin-bottom: -2px;
}

.pencil-token {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115px;
}

.star {
  width: 55px;
}

.sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-body {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.table-container {
  width: 463px;
}

.table-header {
  padding-top: 40px;
  display: flex;
  justify-content:space-between;

}

.th-token {
  margin-left: 45px;
}

.title-add {
  color: white;
  font-size:xx-large ;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: -128px;
}

.title-home {
  color: white;
  font-size:xx-large ;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: -128px;
}

.token {
  position: absolute;
  margin-left: 47px;
}

.remove-button {
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color:  rgb(128, 0, 0);;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;  
}

.save-button {
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color:  rgb(170, 51, 181);;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
}
